* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.vd {
	display: block;
	width: 60%;
	margin: 20px auto;
	line-height: 34px;
	border: 5px solid rgba(235, 115, 115, 0.616);
	border-radius: 30px;

}
h3 {
	text-align: center;
	font-weight: 600;
	font-size: 30px;
	font-family: cursive;
	text-transform: uppercase;
	color: rgba(150, 150, 150, 0.856);
}
.body {
	padding-top: 150px;
}
